#!/usr/bin/make -f
# Empty rules — metapackage has no build steps

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH) \
      	-DG2O_USE_OPENGL=OFF \
      	-DG2O_BUILD_SLAM3D_TYPES=ON \
      	-DG2O_BUILD_BENCHMARKS=OFF \
      	-DG2O_BUILD_EXAMPLES=OFF \
      	-DG2O_BUILD_APPS=OFF \
      	-DG2O_INSTALL_CMAKE_CONFIG=ON \
      	-DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_install:
	true

override_dh_install:
	dh_install
